strong {
    color: #63B3ED;
}

.mobile-menu-modal-button svg {
  display: inline !important;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background-color: #1A365D;
    border-radius: 100px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #3182CE;
    border-radius: 100px;
  }